<style>
  .wrap { background: #e9e9e9; padding: 60px;}
</style>

<div style='background:#e9e9e9;padding:60px;'>
  <div
    style='width: 500px;text-align:center;background:white;padding:10px;margin:auto;color:black;'
  >
    <p style='font-weight: 600;font-size: 16px;'>Hello {{name}}</p>
    <p>Someone, hopefully you, has requested to reset the password for your App
      Chat account on
      {{domainClient}}.</p>
    <p>If you did not perform this request, you can safely ignore this email.</p>
    <p>Otherwise, click the link below to complete the process.</p>
    <a href={{linkResetPW}}?token={{token}}>Reset password</a>
  </div>
</div>